html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.App {
  text-align: left;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
*/

.App-header {
  background-color: #ab4e4e;
  width: 100%;
  height: 70px;
  padding: 20px;
  color: white;
  font-size: 0.6em;
}

.App-title {
  text-align: left;
}

.App-intro {
  font-size: large;
}

.location-list {
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  display: block;
}

.sidebar-content {
  text-align: left;
  display: inline-block;
  list-style-type: none;
  height: 500px;
  position: fixed;
  right: 0;
  width: 235px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  background-color: #ab4e4e;
  margin-bottom: 3px;
}

.places-list {
  text-align: left;
}

.filter-box {
  padding-top: 10px;
  margin: 20px auto;
  width: 100%;
  height: 40px;
  text-align: center;
}

ul {
  list-style-type: none;
}

h3 {
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: #ab4e4e;
  font-size: 12pt;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  position: initial;
  bottom: 0px;
}


.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 40px;
  top: 55px;
  margin-top: -1.3em;
}

.bm-burger-bars {
  background: white;
}

.bm-menu {
  padding-left: 1em;
  margin-top: -1.5em;
}

@media screen and (max-width: 324px) {
  h1, h2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 564px)  {
  h1, h2 {
    font-size: 0.3;
    text-align: left;
    padding-right: 75px;
  }
  .bm-burger-button {
    margin-top: -1.75em;
  }
  .bm-menu {
    width: 250px;
  }
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/